<% if flash.any? %>
  <div data-controller='flash' id='flash' class="fixed right-0 z-40 top-16">
    <div class='shadow-md transition-transform transform animate-fade-in'>
      <% flash.each do |type, message| %>
        <%= render FlashMessage::Component.new(type: type, message: message) %>
      <% end %>
    </div>
  </div>
<% end %>
