<nav class='nav border-b border-gray-200'>
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <%= link_to "MultiLingual Books", root_path, class: "text-xl font-bold" %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <%= link_to "Books", admin_books_path,
              class: "inline-flex items-center px-1 pt-1 border-b-2 #{current_namespace?('admin/books') ? 'border-indigo-500' : 'border-transparent hover:border-gray-300'}" %>
        </div>
      </div>
    </div>
  </div>
</nav>
