<%= turbo_stream_from "books" %>

<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-8">Книги</h1>

  <%= turbo_frame_tag "books", class: "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" do %>
    <%= render @books %>
  <% end %>
</div>
