<div class='relative flex items-center border rounded-bl-lg rounded-br-lg <%= color_classes %>' role='alert'>
  <strong class='flex-grow px-4 py-3 font-bold'><%= message %></strong>
  <%= heroicon 'x-mark', options: { 
    'data-action': 'click->flash-message#close', 
    class: 'w-6 h-6 fill-current cursor-pointer mx-4', 
    role: 'button' 
  } %>
</div>