# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies
secret_key_base: your_secret_key_base_here

aws:
  access_key_id: your_aws_access_key_id
  secret_access_key: your_aws_secret_access_key
  region: your_aws_region
  bucket: your_s3_bucket_name

smtp:
  address: smtp.gmail.com
  port: 587
  domain: your-domain.com
  username: your_email@gmail.com
  password: your_email_password

stripe:
  publishable_key: your_stripe_publishable_key
  secret_key: your_stripe_secret_key
