<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div class="modal-content">
      <h2 class="text-lg font-semibold mb-4">Edit Translation</h2>
      <%= render "form", translation: @translation %>
    </div>
  </div>
<% end %>
