@import "./components/_modal.css";
@import "./components/_tabs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

main {
  flex: 1; /* Ensures the main content takes up remaining space */
}
