<%= turbo_frame_tag "modal" do %>
  <div class="modal">
    <div class="modal-content">
      <h2 class="text-2xl font-bold mb-4">New Chapter</h2>
      <%= render "form", chapter: @chapter %>
    </div>
  </div>
<% end %>
